parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#Call to an undefined method ReflectionType::getName\(\)#'
        - '#Call to an undefined method ReflectionType::isBuiltin\(\)#'
        -
            message: '/Parameter #1 \$callback of function spl_autoload_register expects/'
            path: src/Autoload/ClassLoader.php
